#TabsToolbar {
  display: none;
}

#sidebar-box #sidebar-header {
  display: none !important;
}

#main-window:not([customizing])
  #navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: -45px;
}

#navigator-toolbox {
  transition: 0.2s margin-top ease-out;
}
